
.logo.react {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #afafbb);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #afafbb);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  span:nth-of-type(1) .logo,
  span:nth-of-type(2) .logo {
    animation: logo-spin infinite 10s linear;
  }
}


