@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: 'Kanit', 'sans-serif';
}

@font-face {
  font-family: 'AllumiBold';
  font-weight: bolder;
  font-style: normal;
  src: url('/fonts/allumi/Allumi_Std_Extended_Book_Bold.otf') format('opentype');
}

html.light {
  @apply transition-colors duration-300 bg-white text-black;
}

html.dark {
  @apply transition-colors duration-300 dark:bg-black dark:text-white;
}

/*Hide scrollbar but keep scrolling smoothly*/

/* Hide scrollbar */
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scroll-section::-webkit-scrollbar {
  display: none;
  /* Hide vertical scrollbar for Chrome, Safari */
}

.scroll-section {
  -ms-overflow-style: none;
  /* Hide vertical scrollbar for IE & Edge */
  scrollbar-width: none;
  /* Hide vertical scrollbar for Firefox */
}

/* Hide horizontal scrollbar but keep scrolling */
.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide horizontal scrollbar but keep scrolling */
.horizontal-scroll-container {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: scroll;
  /* Hide scrollbar but allow scrolling */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

body {
  margin: 0;
  place-items: center;
  min-width: 280px;
  min-height: 100vh;
}

/* Global CSS */
html,
body {
  overscroll-behavior: none;
  /* Disables pull-to-refresh and overscroll effects */
  touch-action: none;
  /* Disables browser's default touch gestures */
  height: 100dvh;
  /* Use dynamic viewport height to prevent URL bar resizing */
}

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.3em;
  line-height: 1.5;
}

/*Transition behaviors*/
/* Custom spin animation */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-fast {
  animation: spin-slow 0.5s linear infinite;
}

@keyframes spin-fade {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0.9);
  }

  15% {
    opacity: 0;
    transform: rotate(45deg) scale(1);
  }

  75% {
    opacity: 1;
    transform: rotate(315deg) scale(1);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg) scale(0.9);
  }
}

/* Update your existing animation classes */
.animate-spin-fade {
  animation: spin-fade 1.5s ease-in-out forwards;
}

@keyframes backdrop-transition {
  0% {
    backdrop-filter: blur(0);
    background-color: rgba(23, 28, 40, 0);
  }

  50% {
    backdrop-filter: blur(8px);
    background-color: rgb(0, 0, 0, 1);
  }

  100% {
    backdrop-filter: blur(0);
    background-color: rgba(23, 28, 40, 0);
  }
}

.animate-backdrop-transition {
  animation: backdrop-transition 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}